<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jefe de Departamento</title>
</head>

<body>
    <header>
        <h1>Lista de Profesores del Departamento</h1>
    </header>

    <main>
        <div>
            <h2>Información del Jefe de Departamento:</h2>
            <p id="jefeNombre">Nombre: </p>
            <p id="jefeEmail">Email: </p>
            <!-- Agrega más información según sea necesario -->
        </div>

        <div>
            <h2>Lista de Profesores:</h2>
            <ul id="listaProfesores">
                <!-- Aquí se agregarán dinámicamente los profesores desde JavaScript -->
            </ul>
        </div>
    </main>

    <footer>
        <h4>Por: </h4>
    </footer>

    <script src="./js/jefeDeDepartamento.js"></script>
</body>

</html>
