<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores por Departamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Majada Marcial</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span id="userName" class="nav-link disabled text-white"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://majadahorarios.test/teacherSheets">Hoja de profesores</a>
                        </li>
                        <li class="nav-item">
                            <button id="logoutButton" class="btn btn-danger">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <h1>Listado de profesores</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="profesoresList">
                    <!-- Aquí se mostrarán las tarjetas de profesores -->
                </div>
            </div>
        </div>
    </main>

    <footer class="text-muted">
        <!-- ... (código del pie de página) ... -->
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const TokenDocente = sessionStorage.getItem('token');
            const url = window.location.pathname;
            const parts = url.split('/');
            const idDepartamento = parts[2];

            async function loadProfesoresPorDepartamento(idDepartamento) {
                try {
                    const response = await fetch(`http://majadahorarios.test/api/v1/departamentos/${idDepartamento}/profesores`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${TokenDocente}`
                        }
                    });

                    if (!response.ok) {
                        throw new Error('No se pudieron obtener los profesores del departamento');
                    }

                    const { profesores } = await response.json();
                    console.log(profesores);

                    const profesoresListElement = document.getElementById('profesoresList');
                    profesoresListElement.innerHTML = '';

                    profesores.forEach(profesor => {
                        const card = crearTarjetaProfesor(profesor);
                        profesoresListElement.appendChild(card);
                    });
                } catch (error) {
                    console.error('Error al obtener profesores del departamento:', error);
                    // Manejo de errores
                }
            }

            loadProfesoresPorDepartamento(idDepartamento);
        });

        function crearTarjetaProfesor(profesor) {
            const card = document.createElement('div');
            card.classList.add('col-md-4');

            card.innerHTML = `
                <div class="card mb-4 box-shadow">
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <!-- Nombre del profesor -->
                        <h5 class="card-title">${profesor.name}</h5>
                        <img class="card-img-top" src="https://cdn.dribbble.com/users/760319/screenshots/3907189/man.png?resize=400x0" alt="Imagen del profesor">
                        <!-- Botones -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary ver-detalles">Ver Detalles</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver Horario</button>
                            </div>
                        </div>
                    </div>
                </div>
            `;

            // Agregar dataset con la información del profesor
            const detallesProfesor = JSON.stringify(profesor);
            card.querySelector('.ver-detalles').dataset.profesor = detallesProfesor;

            return card;
        }

        document.getElementById('logoutButton').addEventListener('click', function () {
            sessionStorage.clear();
            window.location.href = '../../index.html';
        });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>