<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores por Departamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/profesoresDepartamento.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Majada Marcial</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span id="userName" class="nav-link disabled text-white"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://majadahorarios.test/teacherSheets">Hoja de profesores</a>
                        </li>
                        <li class="nav-item">
                            <button id="logoutButton" class="btn btn-danger">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <h1>Listado de profesores se accede desde el JEFE DE ESTUDIOS</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="profesoresList">
                    <!-- Aquí se mostrarán las tarjetas de profesores -->
                </div>
            </div>
        </div>
        <div class="modal fade" id="profesorModal" tabindex="-1" aria-labelledby="profesorModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profesorModalLabel">Detalles del Profesor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="nombreProfesor"></p>
                        <p id="email"></p>
                        <p id="rol"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modulosProfesorModal" tabindex="-1" aria-labelledby="modulosProfesorContent"
            aria-hidden="true">
            <!-- Contenido del nuevo modal para los horarios -->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modulosProfesorContent">Horario del Profesor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del horario del profesor -->
                        <div>
                            <h6 id="nombreProfesorHorario"></h6>
                            <p id="horarioProfesor"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-white text-center py-2">
        <h4>Por: </h4>
    </footer>


    <script src="/js/profesoresDepartamento.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>