<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/teacherSheets.css">
    <title>Hojas de Profesores</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Majada Marcial</a>
                <button class="navbar-toggler" aria-label="boton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span id="userName" class="nav-link disabled text-white"></span>
                        </li>
                        <li class="nav-item">
                            <button id="logoutButton" aria-label="boton-logout" class="btn btn-danger">Logout</button>
                        </li>
                    </ul>
                </div>
                <button id="themeToggle" aria-label="boton" class="btn btn-light">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                </button>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-4">
            <div class="row" id="teacherDataBox">
                <div class="col-md-6">
                    <h4 id="department">Departamento: </h4>
                </div>
                <div class="col-md-6 mt-1">
                    <h4 id="specialization">Especialización: </h4>
                </div>
                <div class="col-md-6 mt-1">
                    <h4 id="teacher"></h4>
                </div>
                <div class="col-md-6 mt-1 mb-4">
                    <h4 id="schoolYear"></h4>
                </div>
            </div>

            <div class="table-responsive">
                <table id="teacherTable" class="table  table-bordered">
                    <thead>
                        <tr>
                            <td colspan="7" class="blankCells"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Turno (M/T)</th>
                            <th>Curso y Ciclo</th>
                            <th>Módulo</th>
                            <th>Horas</th>
                            <th>Distribución Semanal</th>
                            <th>Aula/Taller</th>
                            
                           
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules">
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td> <select name="teacherAulas"></select></td>
                        
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules" >
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                            
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules">
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                            
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules" id="teacherModules">
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                          
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules" >
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                           
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules" >
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                          
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules">
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                           
                        </tr>

                        <tr>
                            <td class="turno"></td>
                            <td id="cursoCicloCell"></td>
                            <td>
                                <select name="teacherModules" >
                                    <option value="selectModule">Selecciona Modulo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="horas-modulo"></td>
                            <td><select name="distribucionSemanal" id="distribucionSemanal"></select></td>
                            <td><select name="teacherAulas"></select></td>
                           
                        </tr>

                        <tr>
                            <td colspan="2" class="blankCells"></td>
                            <td class="totalCell">Total</td>
                            <td id="totalHorasCell"></td>
                     
                           
                        </tr>
                    </tbody>
                </table>
            </div>

            <label for="teacherObservations"></label>
            <textarea name="teacherObservations" id="teacherObservations" cols="100" rows="10" class="form-control"
                placeholder="Observaciones"></textarea>

            <ul class="list-group mt-4">
                <li class="list-group-item">a. <strong> El profesorado tutor tiene que impartir al menos un módulo del
                        curso que
                        tutoriza.</strong></li>
                <li class="list-group-item">b. <strong> En ningún caso se debe superar las 24 horas semanales de
                        permanencia en
                        el centro.</strong></li>
                <li class="list-group-item">c. <strong>El aula o taller será fijado por el departamento y no podrá
                        modificarse
                        posteriormente.</strong> </li>
                <li class="list-group-item">d. <strong> No se debe concentrar el horario en una modalidad o
                        grupo.</strong></li>
                        <li class="list-group-item">e. <strong>No puedes enviar el formulario si no tienes las horas en verde</strong></li>
            </ul>

            <button id="guardarButton" aria-label="Enviar Datos" class="btn btn-primary mt-4">Enviar Datos</button>
        </div>

    </main>
    <footer>
        <p>&copy; 2023 Lucas Vega Blanco & Alejandro Suarez. Algunos derechos reservados. Este trabajo está licenciado bajo una <a aria-label="Link a creative commons" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" ></a><img src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" alt="Licencia Creative Commons"></a>.</p>
        <img src="../images/accesibilidad.png" class="accesibilidad" alt="accesibilidad">
        <div class="footer-social">
            <strong>Síguenos en Redes Sociales</strong>
            <ul>
              <li>
                <a href="https://github.com/ftvalex01" 
                  >Alejandro<i class="fab fa-github"></i
                ></a>
                <a href="https://github.com/LucasVega2004" 
                  >Lucas<i class="fab fa-github"></i
                ></a>
              </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap y scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Inclusión de jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<!-- Inclusión de autoTable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>


    <script src="../js/teacherSheets.js"></script>
    <script>
        document.getElementById('themeToggle').addEventListener('click', function() {
            document.body.classList.toggle('dark-theme');
        });
    </script>
</body>

</html>
