@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;500&display=swap');

:root {
    --color-primario: #7FBFFF;
    --color-secundario: #005792;
    --color-fondo: #F4F4F4;
    --color-texto: #333333;
    --color-acento: #3D8EB9;
    --color-fondo-oscuro: #333333;
    --color-texto-oscuro: #F4F4F4;
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

header .navbar {
    background-color: var(--color-secundario);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    color: white;
    font-family: var(--fuente-secundaria);
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--color-primario);
    background-color: transparent;
}


main {
    flex: 1;
    padding: 20px;
}

h1 {
    font-family: var(--fuente-secundaria);
    color: var(--color-secundario);
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.album {
    background-color: var(--color-fondo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

footer {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-secundario);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

p {
    font-size: 16px;
}

.footer-social h3 {
    margin-bottom: 15px; /* Espaciado debajo del título */
    font-size: 1.2em; /* Tamaño de la fuente para el título */
}

.footer-social ul {
    list-style: none; /* Remover estilos de lista */
    padding: 0; /* Remover padding */
    margin: 0 auto; /* Centrar la lista */
    display: inline-block; /* Alinear elementos de lista horizontalmente */
}


.footer-social a {
    color: #fff; /* Color de los enlaces */
    text-decoration: none; /* Remover subrayado de enlaces */
    font-size: 0.9em; /* Tamaño de la fuente para enlaces */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.footer-social i {
    margin-left: 5px; /* Espaciado entre el texto y el icono */
}

.footer-social a:hover {
    color: #7FBFFF; /* Cambiar color al pasar el mouse sobre el enlace */
}

/* Ajustes específicos para los iconos de FontAwesome */
.fab {
    font-size: 1.2em; /* Tamaño del icono */
}

/* Media query para ajustes responsivos en pantallas más pequeñas */
@media screen and (max-width: 500px) {
    .footer-social li {
        display: block; /* Los elementos de la lista se muestran uno debajo del otro */
        margin: 5px 0; /* Espaciado vertical entre elementos */
    }
}
.modulos {
    background-color: rgba(0, 0, 0, 0.1);
    /* width: 130%; */
    margin: 8px;
    padding: 2px;
    border-radius: 5px;
}