@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;500&display=swap');

:root {
    --color-primario: #7FBFFF;
    --color-secundario: #005792;
    --color-fondo: #F4F4F4;
    --color-texto: #333333;
    --color-acento: #3D8EB9;
    --color-fondo-oscuro: #333333;
    --color-texto-oscuro: #F4F4F4;
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
}

header .navbar {
    background-color: var(--color-secundario);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: white;
    font-family: var(--fuente-principal);
    font-weight: bold;
}
.navbar .navbar-nav .nav-link {
    color: var(--color-texto-oscuro); /* Hace que el color sea el mismo que el elemento padre */
    background-color: transparent; /* Elimina cualquier color de fondo */
    text-decoration: none; /* Quita cualquier subrayado */
}

.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link:focus {
    color: blue; /* Mantiene el color al pasar el mouse o enfocar */
    background-color: transparent; /* Mantiene el fondo transparente */
    text-decoration: none;
    font-size: 1.1rem; /* Mantiene sin subrayado */
}
#themeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

#themeToggle .fa-sun, #themeToggle .fa-moon {
    display: none;
}

#themeToggle .fa-sun {
    display: inline;
}

.dark-theme #themeToggle .fa-sun {
    display: none;
}

.dark-theme #themeToggle .fa-moon {
    display: inline;
}

main {
    margin: 20px 0;
}

#teacherDataBox {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

#teacherDataBox h4 {
    font-family: var(--fuente-secundaria);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}



.table-responsive {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
}

table th {
    background-color: var(--color-secundario);
    color: black;
}

.dark-theme table th {
    background-color: var(--color-acento);
}

table td {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.dark-theme table td {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.dark-theme tbody tr:nth-child(even) {
    background-color: var(--color-fondo-oscuro);
}

textarea {
    display: block;
    margin: 30px auto;
    padding: 15px;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-secundario);
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

.btn {
    font-family: var(--fuente-secundaria);
    margin: 2px;
}

.btn-danger {
    background-color: var(--color-acento);
    border-color: var(--color-acento);
}

.btn-danger:hover {
    background-color: darken(var(--color-acento), 5%);
    border-color: darken(var(--color-acento), 5%);
}
.dark-theme #teacherDataBox h4{
    color: var(--color-texto);
    
}
.dark-theme footer {
  background-color: var(--color-secundario);

}
