* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header, footer {
    background-color: #1D2333;
    color: white;
    text-align: center;
}

header {
    padding: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 38px - 67px);
    margin: 20px 0;
}

#teacherDataBox {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center; /* Alinea el contenido al centro */
}

#teacherDataBox h4 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#teacherDataBox .col-md-6 {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; /* Centra la tabla y ajusta el margen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
}

table th {
    background-color: #343a40;
    color: rgb(14, 10, 10);
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

textarea {
    display: block;
    margin: 30px auto;
    padding: 15px;
    width: 90%; /* Ajusta el ancho para centrar y mejora el aspecto en dispositivos pequeños */
    box-sizing: border-box;
}

footer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}

#container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    overflow-x: auto;
}

#department {
    grid-area: department;
}

#specialization {
    grid-area: specialization;
}

#teacher {
    grid-area: teacher;
}

#schoolYear {
    grid-area: schoolYear;
}

.blankCells {
    border: none;
}

.totalCell {
    text-align: start;
}
